h2{
    color: red;
}
#t1{
    height: 346px;
    width: 528px;
    background-image: url("../images/1.png");
}
#t2{
    height: 457px;
    width: 811px;
    background-image: url("../images/2.png");
}
#t3{
    height: 713px;
    width: 1267px;
    background-image: url("../images/3.png");
}